#gestionDiaria,
#gestionMensual {
    display: none;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container .btn {
    display: inline-block;
    cursor: pointer;
}

.container .btn-prev {
    margin-right: 10px;
}

.container .btn-next {
    margin-left: 10px;
}


/* ESTILOS VISTA GESTIÓN DIARIA */
#tablaGestionDiaria {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 60%;
    margin:40px auto;
}

#tablaGestionDiaria thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
}

#tablaGestionDiaria th, #tableGestionDiaria td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 8px;
    width:30%;
  
}

#tablaGestionDiaria thead tr.datos th{
    border:none;
    background-color: white;
    color:#014179;
}

#tablaGestionDiaria tbody td {
    text-align: center;
} 

#tablaGestionDiaria textarea {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    text-align: center;
}

#tablaGestionDiaria .small-cell {
    width: 20%;
    padding: 0;
}

#tablaGestionDiaria .btn-info{
    min-width: 150px;
}

/* ESTILOS VISTA GESTIÓN MENSUAL */
#tablaGestionMensual {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 60%;
    margin:40px auto;
}

#tablaGestionMensual thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
}

#tablaGestionMensual th, #tablaGestionMensual td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 8px;
    width:20%;
}

#tablaGestionMensual thead tr.datos th{
    border:none;
    background-color: white;
    color:#014179;
}

#tablaGestionMensual tbody td {
    text-align: center;
} 

#tablaGestionMensual textarea {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    text-align: center;
}

#tablaGestionMensual .small-cell {
    width: 40%;
    padding: 0;
}

#tablaGestionMensual .btn-info{
    min-width: 150px;
}

/* ESTILOS VISTA GESTIÓN PADRES */
#buscador {
    margin:0 auto;
    width:40%;
    text-align: center;
}
#buscador input {
    width:80%;
}

#tablaGestionPadres {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 90%;
    margin:40px auto;
    max-width: 90%;
}

#tablaGestionPadres thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
}

#tablaGestionPadres th td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 8px;
    width: 50%;
}

#tablaGestionPadres thead tr.datos th{
    border:none;
    background-color: white;
    color:#014179;
}

#tablaGestionPadres tbody td {
    text-align: center;
    vertical-align: top;
} 

#tablaGestionPadres tbody tr > td:nth-of-type(4) {
	font-size: 0.8rem;
}

#tablaGestionPadres .nombrePadre {
    cursor: pointer;
}

#tablaGestionPadres .nombrePadre:hover {
    color: white;
    background-color: rgb(230, 143, 13);
}


#tablaGestionPadres .btn-info{
    min-width: 150px;
}


@media screen and (max-width: 400px) {
    #tablaGestionDiaria {
        width: 85%;
        font-size: 0.8em;
    }
    
    #tablaGestionMensual {
        width: 85%;
        font-size: 0.8em;
    }
    #tablaGestionPadres {
        width: 85%;
        font-size: 0.8em;
    }
}

div#divExitoModificacion {
    margin-top: 20px;
    margin-bottom: -20px;
}

/* Reglas de la vista de Q19 */
div#divQ19 > div{
	margin-left: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
div#divQ19 label {
	font-weight: bold;
	color: navy;
}
div#divQ19 > h2:nth-of-type(2) {
	float: left;
}
div#divQ19 > img {
	float: right;
	cursor: pointer;
	border-radius: 0.3rem;
}
div#divQ19 > img:hover {
	background-color: lightblue;
}
